PING_ENV = 'pong_env'

# server
PORT=4000
HOST_NAME='localhost'
NODE_ENV='development'

# DB:mongo
MONGO_URI="mongodb://localhost:27017/"
DBNAME=""

# minutes
OTP_EXPIRE=

# gmailSMTP_Mail
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""

# days
JWT_COOKIE_EXPIRE=
JWT_SECRET=""

# mediaStorageService
CLOUD_NAME=""
CLOUD_API_KEY=""
CLOUD_API_SECRET=""

# ACCESS_TOKEN_SECRET = ""
# REFRESH_TOKEN_SECRET = ""
# ACTIVATION_TOKEN_SECRET = ""

# MAILING_SERVICE_CLIENT_ID = ""
# MAILING_SERVICE_CLIENT_SECRET = ""
# MAILING_SERVICE_REFRESH_TOKEN = ""
# SENDER_EMAIL_ADDRESS = ""

# CLOUD_NAME = ""
# CLOUD_API_KEY = ""
# CLOUD_API_SECRET = ""

# GOOGLE_SECRET = ""
# FACEBOOK_SECRET = ""