@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: azure;
  color: rebeccapurple;
}

*::-moz-selection {
  background-color: azure;
  color: rebeccapurple;
}

*::-webkit-selection {
  background-color: azure;
  color: rebeccapurple;
}

body {
  background: whitesmoke;
  -wekit-font-smoothing: antialiased;
  font-family: "Muli", sans-serif;
  scroll-behavior: smooth;
}

.container {
  height: 100vh !important;
}

.message__box {
  list-style-type: none;
  padding-left: 0;
  height: 60vh;
  overflow-y: auto;
  transition: 0.5s;
}

.themeDynamicDiv {
  cursor: pointer;
  color: beige;
  margin: 10px;
  transition: 0.5s;
  box-shadow: 2px 2px 7px 2px rgb(112 104 104 / 50%);
  background: #918de1;
  padding: 10px;
}

.themeDynamicDiv h4 {
  transition: 0.5s;
}

.themeDynamicDiv:hover h4 {
  transition: 0.5s;
  letter-spacing: 1px;
  font-weight: bolder;
}

.message__box .chats h6 {
  font-weight: 800;
}

p {
  font-size: 16px;
}

.brand {
  display: flex;
  float: right;
}

#submitBtn {
  transition: 0.5s ease-in-out;
}

#submitBtn:hover {
  letter-spacing: 1px;
  box-shadow: 0px 0px 20px 4px #544e4e87;
}

.logoImg {
  padding: 5px;
  cursor: pointer;
}

.logoName {
  position: relative;
  top: 10px;
  font-weight: bolder;
}

.themeSection {
  background: #8f8be8f2;
  max-width: 100%;
  height: 66vh;
  padding-top: 4px;
  display: none;
  position: relative;
  top: -68vh;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
}

.themeSectionHeader {
  text-align: center;
  padding: 4px;
  margin: 10px;
  color: #7d7d7d;
}

.themeSectionHeader h1 {
  font-size: x-large;
}

.themeSectionActive {
  display: flex;
}

.message__boxActive {
  display: none;
}

.userName {
  margin-left: 1px;
  text-transform: uppercase;
  font-weight: bolder;
}

.labelClass {
  margin-top: 11px;
}

.messageCom {
  max-width: 300px;
  clear: both;
}

.incomming {
  float: left;
}

.outgoing {
  float: right;
}

.themeBlueOutActive .card {
  background: #e9eafd;
  color: #787986;
}

.themeBlueInActive .card {
  background: #7c77ef;
  color: #fff;
}

.themeBlackOutActive .card {
  background: #7ecc82;
  color: #fffefe;
}

.themeBlackInActive .card {
  background: #0009;
  color: #fff;
}

.default .card {
  background: #fff;
}

.chats {
  animation: something 0.6s ease forwards;
}

@keyframes something {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .themeSectionActive {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a4a1d8c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8be8c4;
}

.typing {
  position: relative;
  top: -57px;
}
